<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %> |
     <a href="http://localhost:3000/pages/profile"><%= current_user.email %></a> |
      <% if current_user.check == false %>
        Пользователь
      <% else %>
        Компания
      <% end %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
<% if user_signed_in? %>
  <li>
  <%= link_to('Edit registration', edit_user_registration_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>
<% end %>
<% if user_signed_in? %>
  <%= link_to "users", users_path%> |
  <%= link_to "convesations", conversations_path%> |
<% end %>
<%= link_to "Home", projects_path%>
<hr>
