<h1>Список пользователей</h1>

<%= form_tag users_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<% @users.each do |user| %>
    <%= image_tag user.avatar(:thumb) %>
    <dt><%= user.username %></dt>
    <dt><%= user.name %> |
    <% if user.check == false %>
      Пользователь
    <% else %>
      Компания
    <% end %>
    </dt>
    <%= link_to "Страница", user%>
    <hr>
<% end %>
<input type="button" onclick="history.back();" value="back"/>
