<h1>Список пользователей</h1>

<%= form_tag users_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Поиск" %>
<% end %>
<br/>

<%= link_to 'My friends', my_friends_path%>

<% @users.each do |user| %>
<div class="user_preview row col-lg-10 col-lg-offset-1">
  <div class="col-lg-2 col-md-2">
    <%= image_tag user.avatar(:thumb),class:"user_avatar " %>
  </div>
  <div class="user_preview_info col-lg-4">
    <p class = "name_surname "><%= user.name %></p>
    <p class = "keywords">Key words</p>
  </div>
  <div class="right_text col-lg-3">
    <p>Рейтинг</p>
  </div>
  <div class="message col-lg-3">
    <% if user.email != current_user.email %>
     <%= link_to 'Написать сообщение', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post',class:"profile_preview_links"%>
      <% if current_user.check != user.check %>
        <div class="follow_status">
          <%= render "partials/follow_sts", object: user %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="open_profile col-lg-3">
    <%= link_to "Открыть профайл", user,class:"profile_preview_links"%>
  </div>
</div>
<%end%>
