<h1>Список пользователей</h1>

<%= form_tag users_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Поиск" %>
<% end %>
<br/>

<%= link_to 'My friends', my_friends_path%>

<% @users.each do |user| %>
<div class="user_preview row col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-xs-10 col-xs-offset-1 col-sm-offset-1 ">
  <div class="col-lg-2 col-md-2">
    <%= image_tag user.avatar(:thumb),class:"user_avatar " %>
  </div>
  <div class="user_preview_info col-lg-4">
    <p class = "name_surname "><%= user.name %></p>
    <p class = "keywords">Key words</p>
  </div>
  <div class="right_text col-lg-3">
    <p>Рейтинг</p>
  </div>
  <% if current_user.check != user.check %>
    <% unless current_user == user %>
      <%= link_to 'Send message', new_message_path(to: user.id), class: 'btn btn-default btn-sm' %>
    <% end %>
    <div class="open_profile col-lg-3">
      <%= link_to "Открыть профайл", user,class:"profile_preview_links"%>
    </div>

      <div class="follow_status col-lg-3  ">
        <%= render "partials/follow_sts", object: user %>
      </div>
<%else%>
  <% unless current_user == user %>
        <%= link_to 'Send message', new_message_path(to: user.id), class: 'btn btn-default btn-sm' %>
  <% end %>
  <div class="open_profile1 col-lg-3">
    <%= link_to "Открыть профайл", user,class:"profile_preview_links"%>
  </div>
  <% end %>
</div>
<%end%>

<script>
  $( window ).load(function() {
    if (window.location.href.indexOf('reload')==-1) {
        window.location.replace(window.location.href+'?reload');
    }
  });
</script>
