<div class="container">
  <div >
    <%= image_tag @user.avatar(:medium),class:"profile_image" %>
  </div>
  <div class="profile_info">
    <h2 class = "name"><%= @user.name %></h2>
    <% if @user.email == current_user.email %>
        <h6 class = "name"><%= link_to('Edit', edit_user_registration_path) %> </h6>
    <%end%>
  </div>
    <div class="row">
      <div class="info">

        <h3 class="hd" style = "font-weight: 600">Информация о пользователе</h3>
          <p class="sub-txt"><%= @user.about %></p>
      </div>
      <div class="info1">
        <h3 class="hd" style = "font-weight: 600">Портфолио</h3>

      </div>
      <div class="info">
        <h3 class="hd" style = "font-weight: 600">Ключевые слова</h3>
          <ul>
            <li>Ruby</li>
            <li>Swift</li>
            <li>C++</li>
          </ul>
      </div>
      <div class="info1">
        <h3 class="hd" style = "font-weight: 600">Контакты</h3>
        <p class="sub-txt"><%= @user.email %></p>
        <p class="sub-txt"><%= @user.contact %></p>

      </div>


    </div>
  </div>
</div>
