<%if user_signed_in?%>
<div class="container">
  <div >
    <%= image_tag current_user.avatar(:medium),class:"profile_image" %>
  </div>
  <div class="profile_info">

    <h2 class = "name"><%= current_user.name %></h2>
    <h6 class = "name"><%= link_to('Изменить', edit_user_registration_path) %></h6>
    <div class="row">
      <div class="info">

        <h3 class="hd" style = "font-weight: 600">Информация о пользователе</h3>
          <p class="sub-txt"><%= current_user.about %></p>
      </div>
      <div class="info1">
        <h3 class="hd" style = "font-weight: 600">Портфолио</h3>

      </div>
      <div class="info">
        <h3 class="hd" style = "font-weight: 600">Ключевые слова</h3>
          <ul>
            <li>Ruby</li>
            <li>Swift</li>
            <li>C++</li>
          </ul>
      </div>
      <div class="info1">
        <h3 class="hd" style = "font-weight: 600">Контакты</h3>
        <p class="sub-txt"><%= current_user.email %></p>
        <p class="sub-txt"><%= current_user.contact %></p>

      </div>


    </div>
  </div>
</div>
<%else%>
  <script type="text/javascript">
  window.location.href="/users/sign_in"
  </script>
<% end %>

<script>
  $( window ).load(function() {
    if (window.location.href.indexOf('reload')==-1) {
        window.location.replace(window.location.href+'?reload');
    }
  });
</script>
