<p id="notice"><%= notice %></p>
<table>
  <dl>

    <dt><%= @project.title %></dt>
    <dd><%= @project.description %></dd>
    <dt><%= @project.user.email %></dt>
    <dt><%= @project.price %></dt>
    <dt><%= @project.mentor %></dt>
    <dt><%= @project.sts %></dt>
    <% if @project.sts == 1%>
      <h4>в процессе</h4>
    <% elsif @project.sts == 0%>
      <h4>в рассмотрении</h4>
    <% elsif @project.sts == -1%>
      <h4>закончен</h4>
    <% end %>
    <% count = 0 %>
    <% if @project.sts != -1 %>
      <% User.all.each do |user| %>
        <% if @project.followers?(user.id) %>
          <h4>developer: <%= link_to user.name, user %></h4>
          <% if user.name == ""%>
            <% @project.sts = 0%>
            <% @project.save%>
          <% else %>
            <% @project.sts = 1%>
            <% @project.save%>
            <% count+=1 %>
          <% end %>
        <% end %>
      <% end %>
      Проект делают: <%= count %>
    <% end %>
  </dl>
</table>
<% User.all.each do |user| %>
  <% if @project.followers?(user.id) %>
    <% if @project.sts == -1%>
      <% if current_user.email == @project.mentor || current_user.email == user.email%>
        <input type="text" name="" value="">Feedback
      <% end %>
    <% end %>
  <% end %>
<% end %>





<%= link_to 'Edit', edit_project_path(@project) %> |
<input type="button" onclick="history.back();" value="Назад"/>

<script>
  $( window ).load(function() {
    if (window.location.href.indexOf('reload')==-1) {
        window.location.replace(window.location.href+'?reload');
    }
  });
</script>
