
<div class="log_in col-lg-6 col-md-6">
  <div class="log_in_header">
    <h1>Вход</h1>
    <p>Еще не зарегистрированы? <%= link_to('Зарегистрироваться', new_user_registration_path)  %></p>
  </div>
  <div class="log_in_form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="log_in_field">
        <%= f.label :Пароль %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="log_in_field">
          <%= f.check_box :remember_me %>
          <%= f.label :Запомнить %>
        </div>
      <% end -%>

      <div class="log_in_button">
        <%= f.submit "Войти",class:"log_in_button1" %>
      </div>

      <% end %>
  </div>
  <br>
  <%= render "devise/shared/links" %>

</div>
